*{
    margin:0;
    padding:0;
}

body{
    font-family: "Trebuchet MS";
    color:#000;
    font-size: 11px;
    overflow:hidden;
    background-color:#fff;
}


@font-face {

	font-family: AkzidenzGrotesk;
	src: url('../Fonts/AkzidenzGrotesk-Extended.otf');
}

a {
	text-decoration: none;
	color: white;
}


#menu {

	position: absolute;
	top: 80px;
	left: 0px;
	width: 450px;
	height: 170px;
	background-image: url("../Images/menu.png");
	z-index: 3;

}

#albums {
	
	position: relative;
	top: 20px;
	left: 35px;
	width: 250px;
	height: 110px;
	font-family: "AkzidenzGrotesk";
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	line-height: 17px;
	color: white;
	z-index: 4;

}

.album:hover {

	text-decoration: underline;

}

#textright {
	text-align: right
	}
	
#about {
	
	position: relative;
	top: 30px;
	left: 35px;
	width: 250px;
	height: 110px;
	font-family: "AkzidenzGrotesk";
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
	line-height: 17px;
	color: #B2B2B2;
	z-index: 4;

}

.about:link {
	color: #B2B2B2;
	}

.about:visited {
	color: #B2B2B2;
	}

.about:active {
	color: #B2B2B2;
	}

.about:hover {
	color: #B2B2B2;
	text-decoration: underline;
}

#header {

	position: absolute;
	top: 39px;
	left: 40px;
	width: 350px;
	height: 23px;
	z-index: 10;
	
}

#home {

	font-family: AkzidenzGrotesk;
	font-size: 12px;
	color: #B2B2B2;
	position: relative;
	bottom: 1px;
	left: 15px;
	display: none;

}

#title {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -20px;
}

#text-personal {
	line-height: 14px;
	width: 250px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 70px;
	margin-top: -148px;
}

#text-academic {
	line-height: 14px;
	width: 250px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: 207px;
}

#text-bio {
	line-height: 14px;
	width: 252px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: 109px;
}

#text-bio a {
	color: black;
	}

#text-professional {
	line-height: 14px;
	width: 252px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 70px;
	margin-top: 109px;
}

#text-professional a {
	color: black;
	}

#contacts {
	line-height: 14px;
	width: 235px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 340px;
	margin-top: -218px;
}

#contacts a {
	color: black;
	}