---
title: Caroline Pera • Pieces Set 2
layout: album
---

<div id="loading"></div>

<div id="preview">
  <div id="imageWrapper"></div>
</div>

<div id="thumbsWrapper">
  <div id="thumbsContainer">
    <img src="/images/collections/caroline-pera-pieces-set-2-thumb-01.jpg" alt="/images/collections/caroline-pera-pieces-set-2-01.jpg" title="Pieces Set 2 by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-pieces-set-2-thumb-02.jpg" alt="/images/collections/caroline-pera-pieces-set-2-02.jpg" title="Pieces Set 2 by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-pieces-set-2-thumb-03.jpg" alt="/images/collections/caroline-pera-pieces-set-2-03.jpg" title="Pieces Set 2 by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-pieces-set-2-thumb-04.jpg" alt="/images/collections/caroline-pera-pieces-set-2-04.jpg" title="Pieces Set 2 by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-pieces-set-2-thumb-05.jpg" alt="/images/collections/caroline-pera-pieces-set-2-05.jpg" title="Pieces Set 2 by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-pieces-set-2-thumb-06.jpg" alt="/images/collections/caroline-pera-pieces-set-2-06.jpg" title="Pieces Set 2 by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-pieces-set-2-thumb-07.jpg" alt="/images/collections/caroline-pera-pieces-set-2-07.jpg" title="Pieces Set 2 by Caroline Pera" width="80" height="80">
  </div>
</div>

