---
title: Caroline Pera • Tromp L'Oeil
layout: album
---

<div class="nav">
  <ul>
    <li class="menu">
      <h4>Works on Canvas</h4>
      <ul>
        <li><a href="/elevated/">Elevated</a></li>
        <li><a href="/loving-a-narcissist/">Loving a Narcissist</a></li>
      </ul>
      <hr>
    </li>
    <li class="menu expanded">
      <h4>Jewellery</h4>
      <ul>
        <li><a href="/the-spirit-of-water/">The spirit of water</a></li>
        <li><a href="/plumages/">Plumages</a></li>
        <li><a href="/tromp-loeil/" class="current">Trompe l'oeil</a></li>
        <li><a href="/primitive-collection/">Primitive Collection</a></li>
        <li><a href="/fur-collection/">Fur Collection</a></li>
        <li><a href="/one-off-pieces/">One-off Pieces</a></li>
      </ul>
      <hr>
    </li>
    <li>
      <h4><a href="/about/">About</a></h4>
    </li>
  </ul>
</div>

<div id="preview">
  <div id="imageWrapper"></div>
</div>

<div id="credits">
  <p>
    <!-- Content will automatically be updated with JavaScript -->
    Jewellery by Caroline Pera<br>Photography and PP by Ana Barreira<br>
    Hair and Make Up by Marina Keri<br>Model Natalia K.
  </p>
</div>

<div id="thumbsWrapper">
  <div id="thumbsContainer">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-tromp-loeil-thumb-01.jpg"
      alt="/images/collections/caroline-pera-tromp-loeil-01.jpg"
      title="Jewellery by Caroline Pera<br>Photography and PP by Ana Barreira
      <br>Hair and Make Up by Marina Keri<br>Model Natalia K.">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-tromp-loeil-thumb-02.jpg"
      alt="/images/collections/caroline-pera-tromp-loeil-02.jpg"
      title="Jewellery by Caroline Pera<br>Photography and PP by Ana Barreira
      <br>Hair and Make Up by Marina Keri<br>Model Natalia K.">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-tromp-loeil-thumb-03.jpg"
      alt="/images/collections/caroline-pera-tromp-loeil-03.jpg"
      title="Jewellery by Caroline Pera<br>Photography and PP by Ana Barreira
      <br>Hair and Make Up by Marina Keri<br>Model Natalia K.">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-tromp-loeil-thumb-04.jpg"
      alt="/images/collections/caroline-pera-tromp-loeil-04.jpg"
      title="Jewellery by Caroline Pera<br>Photography and PP by Ana Barreira
      <br>Hair and Make Up by Marina Keri<br>Model Natalia K.">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-tromp-loeil-thumb-05.jpg"
      alt="/images/collections/caroline-pera-tromp-loeil-05.jpg"
      title="Jewellery by Caroline Pera<br>Photography and PP by Ana Barreira
      <br>Hair and Make Up by Marina Keri<br>Model Natalia K.">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-tromp-loeil-thumb-06.jpg"
      alt="/images/collections/caroline-pera-tromp-loeil-06.jpg"
      title="Jewellery by Caroline Pera<br>Photography and PP by Ana Barreira
      <br>Hair and Make Up by Marina Keri<br>Model Natalia K.">
  </div>
</div>