---
title: Caroline Pera • Tromp L'Oeil
layout: album
---

<div id="credits">
  <br>
  <br>
  <p>Jewellery by Caroline Pera</p>
  <p>Photography and PP by Ana Barreira</p>
  <p>Hair and Make Up by Marina Keri</p>
  <p>Model Natalia K.</p>
  <div id="whitemargin"></div>
</div>

<div id="loading"></div>

<div id="preview">
  <div id="imageWrapper"></div>
</div>

<div id="thumbsWrapper">
  <div id="thumbsContainer">
    <img src="/images/collections/caroline-pera-tromp-loeil-thumb-01.jpg" alt="/images/collections/caroline-pera-tromp-loeil-01.jpg" title="Tromp L'Oeil by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-tromp-loeil-thumb-02.jpg" alt="/images/collections/caroline-pera-tromp-loeil-02.jpg" title="Tromp L'Oeil by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-tromp-loeil-thumb-03.jpg" alt="/images/collections/caroline-pera-tromp-loeil-03.jpg" title="Tromp L'Oeil by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-tromp-loeil-thumb-04.jpg" alt="/images/collections/caroline-pera-tromp-loeil-04.jpg" title="Tromp L'Oeil by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-tromp-loeil-thumb-05.jpg" alt="/images/collections/caroline-pera-tromp-loeil-05.jpg" title="Tromp L'Oeil by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-tromp-loeil-thumb-06.jpg" alt="/images/collections/caroline-pera-tromp-loeil-06.jpg" title="Tromp L'Oeil by Caroline Pera" width="80" height="80">
  </div>
</div>
