// Album Page

#imageWrapper {
  padding-top: 80px;
  text-align:center;
  img {
    margin: 0 auto;
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
  }
}

#albumDescriptionWrapper {
  font-size: 17px;
  line-height: 22px;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 120px;
  bottom: 140px;
  @media (min-width: 750px) {
    left: 120px;
    right: 120px;
  }
  h5 {
    display: block;
    width: 100%;
    margin: 0 0 11px 0;
  }
  p {
    margin-bottom: 10px;
    font-family: serif;
    color: darken(white, 75%);
  }
  .album-video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    padding-bottom: 56%;
    @media (min-width: 750px) {
      width: 50%;
      padding-bottom: 28%;
    }
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  .album-description {
    width: 100%;
    padding-top: 61%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    @media (min-width: 750px) {
      width: 40%;
      padding-top: 0;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

#pictureDescriptionWrapper {
  display: none;
  font-size: 17px;
  line-height: 22px;
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 60px 10px;
  background-color: rgba(white, 0.94);
  z-index: 40;
  @media (min-width: 750px) {
    padding: 120px 25%;
  }
  h5 {
    display: block;
    width: 100%;
    margin: 0 0 11px 0;
  }
  p {
    margin-bottom: 10px;
    font-family: serif;
    color: darken(white, 75%);
  }
  .hidden {
    display: none;
  }
  .button-close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    display: block;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    background-size: 34px;
    background-position: 0;
    background-repeat: no-repeat;
    background-image: url("/images/graphics/btn-close.png");
  }
}

#thumbsWrapper {
  position: absolute;
  width: 100%;
  height: 102px;
  overflow: hidden;
  background-color: $light;
  bottom: 0px;
  left: 0px;
}

#thumbsContainer {
  height: 84px;
  visibility: hidden;
  margin: 0;
  img {
    float: left;
    margin: 2px;
    display: block;
    cursor: pointer;
    opacity: 0.4;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  }
}

.description-thumbnail {
  width: 80px;
  height: 80px;
  float: left;
  margin: 2px;
  display: block;
  cursor: pointer;
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
}

.album-credits {
  font-family: "Trebuchet MS";
  font-size: 11px;
  line-height: 14px;
  color: $mid-tone;
  position: absolute;
  bottom: 116px;
  right: 0;
  text-align: right;
  width: auto;
  padding: 10px 40px 5px 50px;
  background-image: url("/images/graphics/bg-credits.png");
  z-index: 10;
  a {
    display: inline-block;
    background-color: $dark;
    color: white;
    padding: 4px 8px 5px 24px;
    border-radius: 4px;
    margin: 3px 0;
    text-decoration: none;
    background-image: url("/images/graphics/description-icon.png");
    background-size: 10px 10px;
    background-position: 8px 6px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    &:hover {
      background-color: $mid-tone;
    }
  }
}

.magnifier {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  z-index: 200;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: -o-zoom-out;
  cursor: zoom-out;
  text-align: center;
  background-image: url(../images/graphics/bg-overlay.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
       -o-user-select: none;
          user-select: none;
  img {
    width: auto;
    height: 100%;
    display: inline;
    box-shadow: 0 0 8px rgba(0,0,0,.2), 0 0 1px rgba(0,0,0,.2);
  }
  .button {
    z-index: 10;
    cursor: pointer;
    position: absolute;
    opacity: .6;
    top: 50%;
    margin-top: -122px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
    font-size: 0;
    width: 45px;
    height: 45px;
    color: transparent;
    -webkit-transition-property: opacity;
       -moz-transition-property: opacity;
         -o-transition-property: opacity;
            transition-property: opacity;
    -webkit-transition-duration: .12s;
       -moz-transition-duration: .12s;
         -o-transition-duration: .12s;
            transition-duration: .12s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    &[data-dir="next"] {
      right: 0;
      background-image: url(../images/graphics/btn-next.png);
      background-position: 100% center;
    }
    &[data-dir="prev"] {
      left: 0;
      background-image: url(../images/graphics/btn-prev.png);
      background-position: 0% center;
    }
    &:hover {
      opacity: 1;
    }
  }
}
