// Text Page Layout

.text-page {
  overflow: visible;
}

.body-text {
  line-height: 16px;
  margin-top: 0;
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 150px 30px;
  p {
    margin: 10px 0;
    color: #555;
  }
  a {
    color: #555;
    text-decoration: underline;
    &:hover {
      color: $dark;
    }
  }
  li {
    margin: 3px 0;
  }
  em {
    color: $dark;
    font-style: normal;
    font-weight: bold;
  }
  .col {
    display: table-cell;
    width: 40%;
    padding-right: 10%;
  }
}