#about{position:relative;top:30px;left:35px;width:250px;height:auto;font-family:"presicav",sans-serif;text-transform:uppercase;font-size:11px;text-align:center;line-height:17px;color:#B2B2B2;z-index:4;}
.about:link{color:#B2B2B2;}
.about:visited{color:#B2B2B2;}
.about:active{color:#B2B2B2;}
.about:hover{color:#B2B2B2;text-decoration:underline;}

#about {

  position: relative;
  top: 30px;
  left: 35px;
  width: 250px;
  height: auto;
  font-family: "presicav", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  line-height: 17px;
  color: #B2B2B2;
  z-index: 4;

}

.about:link {
  color: #B2B2B2;
  }

.about:visited {
  color: #B2B2B2;
  }

.about:active {
  color: #B2B2B2;
  }

.about:hover {

  color: #B2B2B2;
  text-decoration: underline;

}

#about {

  position: relative;
  top: 30px;
  left: 35px;
  width: 250px;
  height: 110px;
  font-family: "presicav", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  line-height: 17px;
  color: #B2B2B2;
  z-index: 4;

}

.about:link {
  color: #B2B2B2;
  }

.about:visited {
  color: #B2B2B2;
  }

.about:active {
  color: #B2B2B2;
  }

.about:hover {
  color: #B2B2B2;
  text-decoration: underline;
}
