// Colour Variables

$dark     : #000; // Dark Tone
$mid-tone : #AAA; // Mid-Tone
$light    : #FFF; // Light Tone

// Generic Styles

html {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: $light;
  color: $dark;
  font-size: 12px;
  font-family: "Trebuchet MS";
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: $light;
  text-decoration: none;
  -webkit-transition-property: all;
     -moz-transition-property: all;
       -o-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.12s;
     -moz-transition-duration: 0.12s;
       -o-transition-duration: 0.12s;
          transition-duration: 0.12s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

img {
  border: 0;
}

ul,
li,
p {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px 0;
}

h3 {
  font-family: "presicav", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  margin: 25px 0 5px;
}


// Header and main logo

.header,
.logo {
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
       -o-user-select:none;
          user-select:none;
}

.header {
  position: absolute;
  top: 39px;
  left: 40px;
  z-index: 10;
  width: 350px;
  height: 23px;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -50px;
  width: 800px;
  height: 100px;
}


// Copyright and contacts info

.copyright,
.contacts {
  text-transform: uppercase;
  font-family: "presicav", sans-serif;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  color: $mid-tone;
  letter-spacing: 1px;
  font-size: 10px;
  a {
    color: $mid-tone;
  }
  a:hover {
    border-bottom: 1px solid #AAA;
  }
}

.copyright {
  position: absolute;
  bottom: 35px;
  left: 40px;
}

.contacts {
  position: absolute;
  top: 36px;
  right: 40px;
  text-align: right;
}

@import "nav";
@import "cover-page";
@import "text-page";
@import "album-page";