.nav {
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 30;
  padding: 10px 90px 10px 30px;
  width: 255px;
  background: url("/images/graphics/bg-menu.png") 100% 50% no-repeat;
  hr {
    margin: 3px;
    height: 1px;
    border: none;
    background: url("/images/graphics/bg-hr.png") 0 0 no-repeat;
  }
  li {
    text-align: center;
    ul {
      display: none;
    }
  }
  li.menu {
    h4 {
      background: url(/images/graphics/menu-collapsed-arrow.png) 0 50% no-repeat;
      background-size: 10px 9px;
    }
  }
  li.menu.expanded {
    h4 {
      cursor: default;
      background: url(/images/graphics/menu-expanded-arrow.png) 0 50% no-repeat;
      background-size: 10px 9px;
    }
  }
  a {
    padding: 3px 0;
    display: inline-block;
    height: 8px;
    line-height: 10px;
    border-bottom: 1px solid #000;
    border-bottom: 1px solid transparent;
    &:hover {
      color: #AAA;
    }
    &.current {
      border-bottom: 1px solid #FFF;
      &:hover {
        border-bottom: 1px solid #AAA;
      }
    }
  }
  h4,
  h4 a {
    font-weight: normal;
    color: #AAA;
    cursor: pointer;
    font-size: 9px;
    letter-spacing: 1px;
  }
  h4 {
    display: inline-block;
    margin: 0 auto;
    padding: 0 16px;
    height: 16px;
    a:hover {
      color: #FFF;
    }
    a.current {
      border-bottom: 1px solid #AAA;
      &:hover {
        border-bottom: 1px solid #FFF;
      }
    }
  }
}

.nav,
.copyright,
.contacts {
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "presicav", sans-serif;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
}

.copyright,
.contacts {
  color: #AAA;
  letter-spacing: 1px;
  font-size: 10px;
  a {
    color: #AAA;
  }
  a:hover {
    border-bottom: 1px solid #AAA;
  }
}

.copyright {
  position: absolute;
  bottom: 35px;
  left: 40px;
}

.contacts {
  position: absolute;
  top: 36px;
  right: 40px;
  text-align: right;
}




body.cover {
  .nav {
    left: -400px;
  }
  .contacts,
  .copyright,
  .contacts a,
  .copyright a {
    color: #FFF;
  }
  .contacts a:hover,
  .copyright a:hover {
    border-bottom: 1px solid #FFF;
  }
}
