.nav {
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 30;
  padding: 10px 90px 10px 30px;
  width: 255px;
  background: url("/images/graphics/bg-menu.png") 100% 50% no-repeat;
  hr {
    margin: 3px;
    height: 1px;
    border: none;
    background: url("/images/graphics/bg-hr.png") 0 0 no-repeat;
  }
  li {
    height: 19px;
    text-align: center;
  }
  a {
    padding: 3px 0;
  }
  a:hover {
    color: #AAA;
  }
}

.nav,
.copyright,
.contacts {
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "presicav", sans-serif;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
}

.copyright,
.contacts {
  color: #AAA;
  letter-spacing: 1px;
  font-size: 10px;
  a {
    color: #AAA;
  }
  a:hover {
    border-bottom: 1px solid #AAA;
  }
}

.copyright {
  position: absolute;
  bottom: 35px;
  left: 40px;
}

.contacts {
  position: absolute;
  top: 36px;
  right: 40px;
  text-align: right;
}


body.cover {
  .nav {
    left: -400px;
  }
  .contacts,
  .copyright,
  .contacts a,
  .copyright a {
    color: #FFF;
  }
  .contacts a:hover,
  .copyright a:hover {
    border-bottom: 1px solid #FFF;
  }
}
