---
title: Caroline Pera • Loving a Narcissist
layout: album-page
---

<div class="nav">
  <ul>
    <li class="menu">
      <h4>Projects</h4>
      <ul>
        <li><a href="/painted-identity/">Painted Identity</a></li>
      </ul>
      <hr>
    </li>
  </ul>
</div>

<div class="nav nav-bottom">
  <ul>
    <li class="menu expanded">
      <h4>Works on Canvas</h4>
      <ul>
        <li><a href="/elevated/">Elevated</a></li>
        <li><a href="/loving-a-narcissist/" class="current">Loving a Narcissist</a></li>
      </ul>
      <hr>
    </li>
    <li class="menu">
      <h4>Jewellery</h4>
      <ul>
        <li><a href="/the-spirit-of-water/">The spirit of water</a></li>
        <li><a href="/plumages/">Plumages</a></li>
        <li><a href="/tromp-loeil/">Trompe l'oeil</a></li>
        <li><a href="/primitive-collection/">Primitive Collection</a></li>
        <li><a href="/one-off-pieces/">One-off Pieces</a></li>
      </ul>
      <hr>
    </li>
    <li>
      <h4><a href="/about/">About&thinsp;/&thinsp;Contact</a></h4>
    </li>
  </ul>
</div>

<div id="preview">
  <div id="imageWrapper"></div>
</div>

<%= partial "shared/magnifier" %>

<div class="album-credits">
  <p>
    <!-- Content will automatically be updated with JavaScript -->
    Oil, acrylic, plaster, pastel, oil pastel, thread, wood,
    burn mark on canvas<br>120 x 150 cm
  </p>
</div>

<div id="thumbsWrapper">
  <div id="thumbsContainer">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-pieces-set-2-thumb-01.jpg"
      alt="/images/collections/caroline-pera-pieces-set-2-01.jpg"
      title="Oil, acrylic, plaster, pastel, oil pastel, thread, wood,
      burn mark on canvas<br>120 x 150 cm">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-pieces-set-2-thumb-02.jpg"
      alt="/images/collections/caroline-pera-pieces-set-2-02.jpg"
      title="Oil, acrylic, pastel on canvas<br>70 x 140 cm">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-pieces-set-2-thumb-03.jpg"
      alt="/images/collections/caroline-pera-pieces-set-2-03.jpg"
      title="Oil, acrylic, pastel and burned canvas<br>100 x 140 cm">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-pieces-set-2-thumb-05.jpg"
      alt="/images/collections/caroline-pera-pieces-set-2-05.jpg"
      title="Oil, acrylic, pastel, plaster and burned canvas<br>175 x 240 cm">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-pieces-set-2-thumb-06.jpg"
      alt="/images/collections/caroline-pera-pieces-set-2-06.jpg"
      title="Acrilic, pastel and burned canvas<br>100 x 200 cm">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-pieces-set-2-thumb-07.jpg"
      alt="/images/collections/caroline-pera-pieces-set-2-07.jpg"
      title="Oil, Acrylic, pastel<br>120 x 150 cm">
  </div>
</div>
