---
title: Caroline Pera • The Spirit Of Water
layout: album-page
---

<div class="nav">
  <ul>
    <li class="menu">
      <h4>Works on Canvas</h4>
      <ul>
        <li><a href="/elevated/">Elevated</a></li>
        <li><a href="/loving-a-narcissist/">Loving a Narcissist</a></li>
      </ul>
      <hr>
    </li>
    <li class="menu expanded">
      <h4>Jewellery</h4>
      <ul>
        <li><a href="/the-spirit-of-water/" class="current">The spirit of water</a></li>
        <li><a href="/plumages/">Plumages</a></li>
        <li><a href="/tromp-loeil/">Trompe l'oeil</a></li>
        <li><a href="/primitive-collection/">Primitive Collection</a></li>
        <li><a href="/fur-collection/">Fur Collection</a></li>
        <li><a href="/one-off-pieces/">One-off Pieces</a></li>
      </ul>
      <hr>
    </li>
    <li>
      <h4><a href="/about/">About</a></h4>
    </li>
  </ul>
</div>

<div id="preview">
  <div id="imageWrapper"></div>
</div>

<%= partial "shared/magnifier" %>

<div class="album-credits">
  <p>
    <!-- Content will automatically be updated with JavaScript -->
    Silver, Pearls And Moon Stones<br>Photography and PP by Ana Barreira
  </p>
</div>

<div id="thumbsWrapper">
  <div id="thumbsContainer">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-the-spirit-of-water-thumb-01.jpg"
      alt="/images/collections/caroline-pera-the-spirit-of-water-01.jpg"
      title="Silver, Pearls And Moon Stones<br>Photography and PP by Ana Barreira">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-the-spirit-of-water-thumb-02.jpg"
      alt="/images/collections/caroline-pera-the-spirit-of-water-02.jpg"
      title="Silver, Pearls And Moon Stones<br>Photography and PP by Ana Barreira">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-the-spirit-of-water-thumb-03.jpg"
      alt="/images/collections/caroline-pera-the-spirit-of-water-03.jpg"
      title="Silver And Aquamarine Stones<br>Photography and PP by Ana Barreira">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-the-spirit-of-water-thumb-04.jpg"
      alt="/images/collections/caroline-pera-the-spirit-of-water-04.jpg"
      title="Silver And Pearls<br>Photography and PP by Ana Barreira">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-the-spirit-of-water-thumb-05.jpg"
      alt="/images/collections/caroline-pera-the-spirit-of-water-05.jpg"
      title="Silver And Pearls<br>Photography and PP by Ana Barreira">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-the-spirit-of-water-thumb-06.jpg"
      alt="/images/collections/caroline-pera-the-spirit-of-water-06.jpg"
      title="Silver<br>Photography and PP by Ana Barreira">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-the-spirit-of-water-thumb-07.jpg"
      alt="/images/collections/caroline-pera-the-spirit-of-water-07.jpg"
      title="Silver<br>Photography and PP by Ana Barreira">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-the-spirit-of-water-thumb-08.jpg"
      alt="/images/collections/caroline-pera-the-spirit-of-water-08.jpg"
      title="Silver, Aquamarine And Pearls<br>Photography and PP by Ana Barreira">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-the-spirit-of-water-thumb-09.jpg"
      alt="/images/collections/caroline-pera-the-spirit-of-water-09.jpg"
      title="Silver And Pearls<br>Photography and PP by Ana Barreira">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-the-spirit-of-water-thumb-10.jpg"
      alt="/images/collections/caroline-pera-the-spirit-of-water-10.jpg"
      title="Silver And Chrysoprase Stone<br>Photography and PP by Ana Barreira">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-the-spirit-of-water-thumb-11.jpg"
      alt="/images/collections/caroline-pera-the-spirit-of-water-11.jpg"
      title="Silver, Aquamarine, Chalcedony And Pearl<br>Photography and PP by Ana Barreira">
  </div>
</div>

