---
title: Caroline Pera • One-off Pieces
layout: album
---

<div id="credits">
  <br/><br/>
  <p>Jewellery by Caroline Pera</p>
  <p>Photography and PP by Ana Barreira</p>
  <p>Hair and Make Up by Marina Keri</p>
  <p>Model Natalia K.</p>
  <div id="whitemargin"></div>
</div>

<div id="loading"></div>

<div id="preview">
  <div id="imageWrapper"></div>
</div>

<div id="thumbsWrapper">
  <div id="thumbsContainer">
    <img src="/images/collections/caroline-pera-one-off-pieces-thumb-01.jpg" alt="/images/collections/caroline-pera-one-off-pieces-01.jpg" title="One-of Pieces by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-one-off-pieces-thumb-02.jpg" alt="/images/collections/caroline-pera-one-off-pieces-02.jpg" title="One-of Pieces by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-one-off-pieces-thumb-03.jpg" alt="/images/collections/caroline-pera-one-off-pieces-03.jpg" title="One-of Pieces by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-one-off-pieces-thumb-04.jpg" alt="/images/collections/caroline-pera-one-off-pieces-04.jpg" title="One-of Pieces by Caroline Pera" width="80" height="80">
  </div>
</div>
