---
title: Caroline Pera • Plumages
layout: album-page
---

<div class="nav">
  <ul>
    <li class="menu">
      <h4>Projects</h4>
      <ul>
        <li><a href="/painted-identity/">Painted Identity</a></li>
      </ul>
      <hr>
    </li>
  </ul>
</div>

<div class="nav nav-bottom">
  <ul>
    <li class="menu">
      <h4>Works on Canvas</h4>
      <ul>
        <li><a href="/elevated/">Elevated</a></li>
        <li><a href="/loving-a-narcissist/">Loving a Narcissist</a></li>
      </ul>
      <hr>
    </li>
    <li class="menu expanded">
      <h4>Jewellery</h4>
      <ul>
        <li><a href="/the-spirit-of-water/">The spirit of water</a></li>
        <li><a href="/plumages/" class="current">Plumages</a></li>
        <li><a href="/tromp-loeil/">Trompe l'oeil</a></li>
        <li><a href="/primitive-collection/">Primitive Collection</a></li>
        <li><a href="/one-off-pieces/">One-off Pieces</a></li>
      </ul>
      <hr>
    </li>
    <li>
      <h4><a href="/about/">About&thinsp;/&thinsp;Contact</a></h4>
    </li>
  </ul>
</div>

<div id="preview">
  <div id="imageWrapper"></div>
</div>

<%= partial "shared/magnifier" %>

<div class="album-credits">
  <p>
    <!-- Content will automatically be updated with JavaScript -->
    Jewellery by Caroline Pera
  </p>
</div>

<div id="thumbsWrapper">
  <div id="thumbsContainer">
    <img  width="80" height="80"
      src="/images/collections/caroline-pera-plumages-thumb-01.jpg"
      alt="/images/collections/caroline-pera-plumages-01.jpg"
      title="Jewellery by Caroline Pera">
    <img  width="80" height="80"
      src="/images/collections/caroline-pera-plumages-thumb-04.jpg"
      alt="/images/collections/caroline-pera-plumages-04.jpg"
      title="Jewellery by Caroline Pera">
    <img  width="80" height="80"
      src="/images/collections/caroline-pera-plumages-thumb-05.jpg"
      alt="/images/collections/caroline-pera-plumages-05.jpg"
      title="Jewellery by Caroline Pera">
    <img  width="80" height="80"
      src="/images/collections/caroline-pera-plumages-thumb-08.jpg"
      alt="/images/collections/caroline-pera-plumages-08.jpg"
      title="Jewellery by Caroline Pera">
    <img  width="80" height="80"
      src="/images/collections/caroline-pera-plumages-thumb-09.jpg"
      alt="/images/collections/caroline-pera-plumages-09.jpg"
      title="Jewellery by Caroline Pera">
    <img  width="80" height="80"
      src="/images/collections/caroline-pera-plumages-thumb-10.jpg"
      alt="/images/collections/caroline-pera-plumages-10.jpg"
      title="Jewellery by Caroline Pera">
    <img  width="80" height="80"
      src="/images/collections/caroline-pera-plumages-thumb-12.jpg"
      alt="/images/collections/caroline-pera-plumages-12.jpg"
      title="Jewellery by Caroline Pera">
    <img  width="80" height="80"
      src="/images/collections/caroline-pera-plumages-thumb-13.jpg"
      alt="/images/collections/caroline-pera-plumages-13.jpg"
      title="Jewellery by Caroline Pera">
    <img  width="80" height="80"
      src="/images/collections/caroline-pera-plumages-thumb-14.jpg"
      alt="/images/collections/caroline-pera-plumages-14.jpg"
      title="Jewellery by Caroline Pera">
    <img  width="80" height="80"
      src="/images/collections/caroline-pera-plumages-thumb-15.jpg"
      alt="/images/collections/caroline-pera-plumages-15.jpg"
      title="Jewellery by Caroline Pera">
    <img  width="80" height="80"
      src="/images/collections/caroline-pera-plumages-thumb-21.jpg"
      alt="/images/collections/caroline-pera-plumages-21.jpg"
      title="Jewellery by Caroline Pera">
    <img  width="80" height="80"
      src="/images/collections/caroline-pera-plumages-thumb-23.jpg"
      alt="/images/collections/caroline-pera-plumages-23.jpg"
      title="Jewellery by Caroline Pera">
  </div>
</div>
