---
title: Caroline Pera • Pieces Set 1
layout: album
---

<div id="loading"></div>

<div id="preview">
  <div id="imageWrapper"></div>
</div>

<div id="thumbsWrapper">
  <div id="thumbsContainer">
    <img src="/images/collections/caroline-pera-pieces-set-1-thumb-01.jpg" alt="/images/collections/caroline-pera-pieces-set-1-01.jpg" title="Pieces Set 1 by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-pieces-set-1-thumb-02.jpg" alt="/images/collections/caroline-pera-pieces-set-1-02.jpg" title="Pieces Set 1 by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-pieces-set-1-thumb-03.jpg" alt="/images/collections/caroline-pera-pieces-set-1-03.jpg" title="Pieces Set 1 by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-pieces-set-1-thumb-04.jpg" alt="/images/collections/caroline-pera-pieces-set-1-04.jpg" title="Pieces Set 1 by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-pieces-set-1-thumb-05.jpg" alt="/images/collections/caroline-pera-pieces-set-1-05.jpg" title="Pieces Set 1 by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-pieces-set-1-thumb-06.jpg" alt="/images/collections/caroline-pera-pieces-set-1-06.jpg" title="Pieces Set 1 by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-pieces-set-1-thumb-07.jpg" alt="/images/collections/caroline-pera-pieces-set-1-07.jpg" title="Pieces Set 1 by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-pieces-set-1-thumb-08.jpg" alt="/images/collections/caroline-pera-pieces-set-1-08.jpg" title="Pieces Set 1 by Caroline Pera" width="80" height="80">
  </div>
</div>

