---
title: Caroline Pera • Fur Collection
layout: album
---

<div id="credits">
  <br>
  <br>
  <p>Jewellery by Caroline Pera</p>
  <p>Photography and PP by Ana Barreira</p>
  <p>Hair and Make Up by Marina Keri</p>
  <p>Model Natalia K.</p>
  <div id="whitemargin"></div>
</div>

<div id="loading"></div>

<div id="preview">
  <div id="imageWrapper"></div>
</div>

<div id="thumbsWrapper">
  <div id="thumbsContainer">
    <img src="/images/collections/caroline-pera-fur-collection-thumb-01.jpg" alt="/images/collections/caroline-pera-fur-collection-01.jpg" title="Fur Collection by Caroline Pera" width="80" height="80">
    <img src="/images/collections/caroline-pera-fur-collection-thumb-02.jpg" alt="/images/collections/caroline-pera-fur-collection-02.jpg" title="Fur Collection by Caroline Pera" width="80" height="80">
  </div>
</div>
