---
title: Caroline Pera • Loving a Narcissist
layout: album-page
---

<div class="nav">
  <ul>
    <li class="menu expanded">
      <h4>Projects</h4>
      <ul>
        <li><a href="/painted-identity/" class="current">Painted Identity</a></li>
      </ul>
      <hr>
    </li>
  </ul>
</div>

<div class="nav nav-bottom">
  <ul>
    <li class="menu">
      <h4>Works on Canvas</h4>
      <ul>
        <li><a href="/elevated/">Elevated</a></li>
        <li><a href="/loving-a-narcissist/">Loving a Narcissist</a></li>
      </ul>
      <hr>
    </li>
    <li class="menu">
      <h4>Jewellery</h4>
      <ul>
        <li><a href="/the-spirit-of-water/">The spirit of water</a></li>
        <li><a href="/plumages/">Plumages</a></li>
        <li><a href="/tromp-loeil/">Trompe l'oeil</a></li>
        <li><a href="/primitive-collection/">Primitive Collection</a></li>
        <li><a href="/one-off-pieces/">One-off Pieces</a></li>
      </ul>
      <hr>
    </li>
    <li>
      <h4><a href="/about/">About&thinsp;/&thinsp;Contact</a></h4>
    </li>
  </ul>
</div>

<div id="preview">
  <div id="albumDescriptionWrapper">
    <h5>Introduction to ‘Painted Identity’</h5>
    <p>
      The children’s faces were painted using oil paint during Pera’s 3 months
      stay in the orphanage, she then asked each child to complete their
      portrait by painting their bodies using pure pigment from Nepal. The
      paintings - simultaneously portraits and self-portraits of the children -
      are displayed alongside a descriptive label by Elena Orlandi, a
      psychologist’s interpretation of the children’s use of colour, composition
      and symbols. Pera’s act of collecting, documenting and presenting
      disparate fragments of information, which like pieces of a puzzle
      constitute the child’s portrait, approximates the empirical,
      quasi-scientific methods employed in anthropology.
    </p>
    <p>
      The role of the anthropologist is often to infiltrate ‘other’ cultures in
      order to gather valuable analytical data. This activity implies a dual
      condition as ‘observer,’ and ‘participant,’ two contrasting identities,
      which encapsulate the complexities of the very discipline. As a temporary
      worker in the orphanage, Pera approached the persona of the participant
      observer, and the totality of the analytical data she collected comprises
      her investigation. Regardless of the formal rigor apparent in the
      execution of the paintings, the affection that imbues them, betray a
      quasi-maternal sentiment, and suddenly the data she collected morphs into
      mementos of the children she left behind. Pera’s work follows a legacy of
      women artists engaged with issues of motherhood, the most notable of whom
      is perhaps Mary Kelly, the ’Mother of Conceptual Art.’ Her iconic work
      Post-Partum Document (1973-1979), meticulously collected, charted, divided
      and analyzed representative fragments of her baby’s growth.
    </p>
    <p>
      The culmination of Kelly’s work occurs in concomitance with the beginning
      of writing. Conversely, Pera’s works culminate in the phase that precedes
      the conscious perception of symbols and language, or what Lacan termed
      ‘the mirror phase’: a pre-linguistic stage in subject formation during
      which a child begins to recognize images and develops imagination. In
      simplified terms, during this time he/she begins to recognise him/herself
      in the mirror as a separate being from the mother, for whom this process
      is most traumatic. Pera’s works restage this pre-linguistic moment of
      subject formation, which appears most evidently in the works completed by
      younger children, which lack the figurative or representative qualities of
      the older ones (who also write on the canvas). Here the stark contrast
      between the children’s spontaneous lines, forms and colours and Pera’s
      realistic renditions of their heads, suspended in the middle of the
      canvas, encapsulates the sense of trauma caused by separation (her leaving
      the orphanage). The deliberate gesture of uniting her mark with each
      child’s is perhaps the moving desire of every mother for her baby to never
      grow up.
    </p>
  </div>
  <div id="imageWrapper"></div>
</div>

<%= partial "shared/magnifier" %>

<div class="album-credits">
  <p></p>
</div>

<div id="thumbsWrapper">
  <div id="thumbsContainer">
    <img width="80" height="80"
      src="/images/graphics/description-thumbnail.png"
      class="description-thumbnail"
      data-action="show-album-description">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-01.jpg"
      alt="/images/collections/caroline-pera-painted-identity-01.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="01">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-02.jpg"
      alt="/images/collections/caroline-pera-painted-identity-02.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="02">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-03.jpg"
      alt="/images/collections/caroline-pera-painted-identity-03.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="03">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-04.jpg"
      alt="/images/collections/caroline-pera-painted-identity-04.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="04">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-05.jpg"
      alt="/images/collections/caroline-pera-painted-identity-05.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="05">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-06.jpg"
      alt="/images/collections/caroline-pera-painted-identity-06.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="06">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-07.jpg"
      alt="/images/collections/caroline-pera-painted-identity-07.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="07">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-08.jpg"
      alt="/images/collections/caroline-pera-painted-identity-08.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="08">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-09.jpg"
      alt="/images/collections/caroline-pera-painted-identity-09.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="09">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-10.jpg"
      alt="/images/collections/caroline-pera-painted-identity-10.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="10">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-11.jpg"
      alt="/images/collections/caroline-pera-painted-identity-11.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="11">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-12.jpg"
      alt="/images/collections/caroline-pera-painted-identity-12.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="12">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-13.jpg"
      alt="/images/collections/caroline-pera-painted-identity-13.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="13">
  </div>
</div>

<div id="pictureDescriptionWrapper">
  <div class="description" data-picture="03">
    <h5>Sabin</h5>
    <p>
      Ció che colpisce nel disegno di Sabin é un tentativo di vestire una
      corazza tradito da una trasparenza rispetto a un “dentro” evidenziato
      da un costato e da un cuore disegnato e colorato con precisione. accanto
      al cuore una palla gialla con al suo interno due macchie di colore, rosso
      e verde, che é stata posta lí, come energia di riserva -o sostegno- al
      compito del cuore: il luogo dei sentimenti piú nobili e puri e la pompa
      di vita di un corpo.
    </p>
    <p>
      Le mani, che assomigliano piú ad artigli e sottolineano il bisogno di
      imparare a difendersi -forse piú da se stessi che da un mondo esterno-,
      sono abbandonati lungo i  anchi in segno di riposo, equilibrio,
      tranquillitá ritrovati.. dopo aver combattuto in loro nome.
    </p>
    <p>
      I colori sono forti con una prevalenza di blue,il colore che segnala la
      presenza di un forte autocontrollo che vinca per lo stabilirsi di calma
      e serenitá.
    </p>
    <p>
      Il pantalone dimesso suggerisce che l’atmosfera di un luogo sia piú
      importante del luogo stesso dove le gambe ci condurranno. Una lezione
      imparata dalla sollecitazione alla crescita e alla responsabilizzazione.
    </p>
    <p>
      I colori vivaci delle calzature richiamano il bisogno di credere nei
      passi intrapresi, passi nella direzione della quiete, serenitá (blue);
      energia, vitalitá, passione, coraggio (rosso); adattamento, voglia di
      apertura, intuizione (giallo). Introspezione e pragmatismo.
    </p>
  </div>
  <div class="description" data-picture="05">
    <h5>Sanchita</h5>
    <p>
      In this drawing we notice the strength of the brush strokes that
      communicates the vital charge of Sanchita, the security that such energy
      can instill in her. In general a strong psychophysical energy allows one
      to be active and dynamic: the child is usually in constant movement and
      finds in games the ‘valve of unloading’ of their exuberant vitality.
      When they feel slowed down they can react with ‘aggression’ and tension
      or, in the extreme opposite way, with emotional shut down.
    </p>
    <p>
      In Sanchita’s case, along with vitality and energy, traits of tension and
      constant demand of attention and need for caretaking emerge.
    </p>
    <p>
      The occupation of space is concentrated in the middle of the canvas where
      the past and future merge into egocentricity, with a gesture that touches
      the areas of ‘fear’ – bottom left part of the canvas. All of this,
      together with the predominance of the color yellow, underlines the
      presence of a tendency towards reactions mostly tied with emotional
      tension that can be appeased only through constant attention therefore
      from her ego’s gratification; naturally    present in young children and
      particularly marked in Sanchita.
    </p>
  </div>
  <div class="description" data-picture="02">
    <h5>Dinesh</h5>
    <p>
      In Dinesh’s drawing.... he paints himself in his school uniform, we can
      observe his ability to recognize rules, authority, the rigor in
      institutions, especially his attempt to project himself in the ideal of
      knowing how to comply; reflected in the goal to achieve self-control and
      assertion.
    </p>
    <p>
      This could represent the contradiction of a daily search for personal
      autonomy and experienced as inadequate.
    </p>
    <p>
      The richness of detail and the use of colors suggest a sensitive soul,
      critical and lively. The need for unconditional love from the past is
      still present and associated with the ideal of self-control may be an
      obstacle to an emotional separation important for the establishment of
      an open and spontaneous socialization.
    </p>
  </div>
  <div class="description" data-picture="03">
    <h5>Hari</h5>
    <p>
      All Hari needs is a big heart and lots of energy.
    </p>
    <p>
      However this worldview is still immature and comes from a background of
      naivetè leading our young author to feel the necessity to create a
      "protective shield" that preserves his safety.
    </p>
    <p>
      In reality, an attack is not to be expected from the outside but from
      the static nature of an attitude that has no grounds to give stability
      and security in undertaking the journey that will bring him to face the
      fear of disenchantment and that could lead him to that place; called
      sense of reality and security, in which he must continue to believe in
      the power of the heart and recognize it’s force, enough to no longer need
      a protective magic shield.
    </p>
  </div>
  <div class="description" data-picture="04">
    <h5>Bharat</h5>
    <p>
      In the self-representation of Bharat stands a figure in stark surrender -
      the hands facing upright, which we consider as an outspoken call for help.
      Bharat has a sensitive soul and is full of emotions but of is clearly
      still too fragile and insecure to experience them without fear. He omits
      to draw himself with legs and feet, as to convey that his difficulty is
      closely related to his ability to proceed in a direction that allows him
      not to be a victim of his own sensibility. Being sensitive means to grasp
      details and nuances that escape most people, and the lack of maturity in
      managing emotions can cause great suffering. Because of the fear of this
      possible suffering, apparently already tested, results in: a block
      –absence of legs-that depends on a missed completion of roots. (In reality
      the roots have been drawn but have not been colored, perhaps due to
      insecurity about their ability to maintain balance in his interactions
      with his environment). He is calling for help –arms facing upwards-.
    </p>
    <p>
      The heart, drawn in the lower left corner with no color can be interpreted
      as a fear to activate feelings that he is unsure how to manage or that he
      fears it isn’t possible to live without suffering.
    </p>
    <p>
      The flower in the upper left is about sensitivity, fragility,
      vulnerabilities that he refuses to bring in the present and that he would
      like to let fade into the past. In apparent contradiction and ambivalence
      the presence of the design of another flower on the upper right, recalls
      the dream of romance…to which he is afraid to give color to and bring to
      life.
    </p>
    <p>
      I would but I can’t.
    </p>
  </div>
  <div class="description" data-picture="05">
    <h5>Pugia</h5>
    <p>
      Pugia’s scribbles are a positive sign of growth, for children the shape
      of a circle projects their first known image: the human face.
    </p>
    <p>
      Such simple geometric shape is an expression of adaptation from which we
      take the ability to be comfortable with others: the child who scribbles
      with curved gesture manifests an open and enthusiastic nature and a desire
      to communicate.
    </p>
  </div>
  <div class="description" data-picture="06">
    <h5>Raju</h5>
    <p>
      In Raju’s drawing we notice infantile and uncertain brush strokes: we
      meet his embarrassment and shyness.
    </p>
    <p>
      The ‘do I dare or not’: in certain parts of the figure we see pencil
      markings that have been coated with light color, in a ‘see not-see’.
    </p>
    <p>
      One arm is facing up, usually in a child’s drawing this can be construed
      as a call for help, protection and desire to be cared for.
    </p>
    <p>
      In this case it seems to be more of a request for attention... attention
      is enough to notice the desire to communicate: ‘I am old enough and I
      don’t want your help, I just want your attention’.
    </p>
    <p>
      The hands are drawn in pencil but omitted in color, thus highlighting a
      difficulty in communicating emotions.
    </p>
    <p>
      The feet are turned to the past, in search of safety capable of giving,
      encouraging and supporting projections into future…intuition (yellow).
    </p>
  </div>
  <div class="description" data-picture="07">
    <h5>Ajay</h5>
    <p>
      In this painting Ajay’s irrefutable search for balance emerges: balance
      between physical strength and emotional strength; rationality, emotion;
      deliberateness, instinct; between his natural need to be cared for in the
      nest, and stimulus in the search for space to move around in and to find,
      in the external environment, a contact made of tenderness; balance as a
      derivative of a reconciliation with the past to sanction the handover to
      the future.
    </p>
    <p>
      This boy did not really want to take chances: his communication is lively
      and detailed. He doesn’t know the "how" but he seems to have a pretty
      clear idea of the "what."
    </p>
    <p>
      The neck is highlighted by a more decisive color, representing the link
      between head (rationality) and bust (instinct), stressing the importance
      of acting coherently and well balanced, yet again this quest for balance
      in 360degree emerges.
    </p>
    <p>
      The act of lifting weights to increase strength is more about being
      prepared to face the world rather than a defensive system. As if he is
      saying: "I’m preparing my microcosm (body / psyche) to face the macrocosm
      (the outside world)”.
    </p>
    <p>
      Tattoos or hair?
    </p>
    <p>
      In both cases, these shapes under his arms underline his virility.
    </p>
  </div>
  <div class="description" data-picture="08">
    <h5>Buddha</h5>
    <p>
      In this drawing of Buddha we come across color and tradition.
    </p>
    <p>
      The color becomes the means of communication par excellence that signals
      a potpourri of feelings not yet investigated thoroughly and in opposition
      to one another:
    </p>
    <p>
      Calm, serenity, balance, pleasure, power, ambition, vitality, emotion,
      adaptation, anxiety, sadness, idealism, modesty…
    </p>
    <p>
      A drawing that expresses hiding and fear. Corporeality is missing,
      especially arms and hands, and this is often indicative of problems with
      sexuality, of an attempt to disguise the hostility, often accompanied by
      a sense of guilt.
    </p>
    <p>
      Love is a dream, but still undefined. A force pushes in that direction
      but before you can realize it is necessary to clarify of the past: a
      systematization of all the emotions and feelings that have still not been
      revealed. This is a decisive step that could lead to a renewed desire to
      grow and come out of the protective environment of which he still feels a
      strong need for.
    </p>
  </div>
  <div class="description" data-picture="09">
    <h5>Dipak</h5>
    <p>
      This painting by Dipak emphasizes a sense of loneliness and dependence
      on external aid.
    </p>
    <p>
      He has difficulty in trusting people, sticking to a mother figure and
      depending entirely on this person for his survival.
    </p>
    <p>
      This instinct to paint the edges of the picture without integrating his
      brush strokes with his head is a sign of insecurity, a lack of a strong
      base to grow from.
    </p>
    <p>
      Being so small he has not yet developed a sense of self separated from
      his mother.
    </p>
    <p>
      His choice of cold colors (blue) is a reflection on his mental and
      physical health, baby Dipak was often frightened and suffered from
      constant cough and fever.
    </p>
  </div>
  <div class="description" data-picture="10">
    <h5>Anju</h5>
    <p>
      This floral painting of Anju highlights sensitivity and romanticism.
    </p>
    <p>
      She draws herself identifying herself in the blossoming of her emotions.
    </p>
    <p>
      A drawing that represents confidence in growth, autonomy and feelings.
    </p>
    <p>
      Her body is changing and as it may be cause for instability and
      insecurity, she can count on the spiritual roots that can sustain her.
    </p>
    <p>
      Her hands perform the wonderful gesture of giving and receiving, and she
      relies on the metaphor of nature to symbolize this wonderful contact and
      exchange with the environment: the twigs with leaves.
    </p>
    <p>
      These latter receive carbon dioxide, which is essential for the process
      of chlorophyll synthesis, and releases oxygen essential to man and the
      environment, in an exchange of perfect harmony and balance.
    </p>
    <p>
      This represents the confidence in a ‘give-and-take’ that is lived as a
      harmonious completion and not as a threat.
    </p>
    <p>
      Flourish.
    </p>
  </div>
  <div class="description" data-picture="11">
    <h5>Dipak</h5>
    <p>
      In this portrait of Dipak it is evident that the use of color emphasizes
      the presence of overlapping contrasts.
    </p>
    <p>
      His feelings are struggling to be hidden or simply contained: they would
      like to explode just to be able to be expressed, though at the same time
      there is the fear of not being able to "bear" this explosion: a latent
      pain that is waiting to be crossed and then transcended.
    </p>
    <p>
      The human figure is only sketched in a bust, deductible by the law of the
      perception of "good continuity". Arms and legs are represented by either
      shapes that resemble roots, this expresses the constant need for
      rooting... origin... home ... before having legs that can take him places
      and arms for an active exchange of giving and receiving.
    </p>
    <p>
      The arms represent communication and thus reinforce the concept.
    </p>
    <p>
      The ‘stolen’ expression betrays the need to focus and at the same time
      protection from something that perhaps he is not ready to see.
    </p>
    <p>
      The face is framed by two colored ‘tongues’ ​that occupy the space that
      have been drawn to emphasis the "link to the origins" and "memory" (to
      the left) and "the projection into the future" and "dream" (right).
    </p>
    <p>
      As if to emphasize the important need of a balance between reality and
      flights of fancy.
    </p>
    <p>
      My roots seek land… the same land from which I want to rise from.
    </p>
  </div>
  <div class="description" data-picture="12">
    <h5>Ama</h5>
    <p>
      We present to you Ama, educator and reference point, inside the orphanage,
      for all children.
    </p>
    <p>
      Ama was married off at the age of nine to a forty year old man and left
      her abusive husband to live and work at the orphanage for free.
    </p>
    <p>
      I asked the kids to paint a symbol each that represented what Ama meant
      to them.
    </p>
    <p>
      The symbols used by them are indicative and adorable.
    </p>
    <p>
      Let's start with the peace symbol depicted at the top right to continue
      clockwise.
    </p>
    <p>
      Peace Symbol: explicit meaning given to who is and, above all, she knows
      how to give a sense of peace, strength, calm.
    </p>
    <p>
      Hand inside a heart: the hand of Sanchita represents her need for contact
      with Ama.
    </p>
    <p>
      Plate with food: the food is the first maternal bond and the ability of a
      mother to be able to feed her child physically and emotionally. Drawing
      it in reference to the child's caretaker is telling her that she is able
      to feed him together with the meaning that expands to the emotional
      nourishment for his soul.
    </p>
    <p>
      Heart: expresses the message of affection but also of her ability to pump
      energy and feelings that are essential and vital.
    </p>
    <p>
      Blue: expresses calm, serenity, understanding.
    </p>
    <p>
      Cross / yellow star: dynamism, energy
    </p>
    <p>
      The flag of Nepal: the flag is territorial, identification and a sense of
      belonging to a group. In this case it indicates that Ama provides roots to
      grow from.
    </p>
    <p>
      Written: Ama is the name written in Nepali. As if the simple act of
      writing her name represents all that she means to the child who wrote it.
    </p>
    <p>
      Flowers: representing someone as a flower encloses a meaning of great
      affection. Flowers are delicate, beautiful and sensitive.
    </p>
    <p>
      Heart: ultimate symbol of love and affection, combined with the color
      red means vivacity, energy, vitality, emotion, courage and passion.
    </p>
  </div>
</div>
