---
title: Caroline Pera • Loving a Narcissist
layout: album-page
---

<div class="nav">
  <ul>
    <li class="menu expanded">
      <h4>Projects</h4>
      <ul>
        <li><a href="/painted-identity/" class="current">Painted Identity</a></li>
      </ul>
      <hr>
    </li>
  </ul>
</div>

<div class="nav nav-bottom">
  <ul>
    <li class="menu">
      <h4>Works on Canvas</h4>
      <ul>
        <li><a href="/elevated/">Elevated</a></li>
        <li><a href="/loving-a-narcissist/">Loving a Narcissist</a></li>
      </ul>
      <hr>
    </li>
    <li class="menu">
      <h4>Jewellery</h4>
      <ul>
        <li><a href="/the-spirit-of-water/">The spirit of water</a></li>
        <li><a href="/plumages/">Plumages</a></li>
        <li><a href="/tromp-loeil/">Trompe l'oeil</a></li>
        <li><a href="/primitive-collection/">Primitive Collection</a></li>
        <li><a href="/one-off-pieces/">One-off Pieces</a></li>
      </ul>
      <hr>
    </li>
    <li>
      <h4><a href="/about/">About&thinsp;/&thinsp;Contact</a></h4>
    </li>
  </ul>
</div>

<div id="preview">
  <div id="albumDescriptionWrapper">
    <h5>Introduction to ‘Painted Identity’</h5>
    <p>
      The children’s faces were painted using oil paint during Pera’s 3 months
      stay in the orphanage, she then asked each child to complete their
      portrait by painting their bodies using pure pigment from Nepal. The
      paintings - simultaneously portraits and self-portraits of the children -
      are displayed alongside a descriptive label by Elena Orlandi, a
      psychologist’s interpretation of the children’s use of colour, composition
      and symbols. Pera’s act of collecting, documenting and presenting
      disparate fragments of information, which like pieces of a puzzle
      constitute the child’s portrait, approximates the empirical,
      quasi-scientific methods employed in anthropology.
    </p>
    <p>
      The role of the anthropologist is often to infiltrate ‘other’ cultures in
      order to gather valuable analytical data. This activity implies a dual
      condition as ‘observer,’ and ‘participant,’ two contrasting identities,
      which encapsulate the complexities of the very discipline. As a temporary
      worker in the orphanage, Pera approached the persona of the participant
      observer, and the totality of the analytical data she collected comprises
      her investigation. Regardless of the formal rigor apparent in the
      execution of the paintings, the affection that imbues them, betray a
      quasi-maternal sentiment, and suddenly the data she collected morphs into
      mementos of the children she left behind. Pera’s work follows a legacy of
      women artists engaged with issues of motherhood, the most notable of whom
      is perhaps Mary Kelly, the ’Mother of Conceptual Art.’ Her iconic work
      Post-Partum Document (1973-1979), meticulously collected, charted, divided
      and analyzed representative fragments of her baby’s growth.
    </p>
    <p>
      The culmination of Kelly’s work occurs in concomitance with the beginning
      of writing. Conversely, Pera’s works culminate in the phase that precedes
      the conscious perception of symbols and language, or what Lacan termed
      ‘the mirror phase’: a pre-linguistic stage in subject formation during
      which a child begins to recognize images and develops imagination. In
      simplified terms, during this time he/she begins to recognise him/herself
      in the mirror as a separate being from the mother, for whom this process
      is most traumatic. Pera’s works restage this pre-linguistic moment of
      subject formation, which appears most evidently in the works completed by
      younger children, which lack the figurative or representative qualities of
      the older ones (who also write on the canvas). Here the stark contrast
      between the children’s spontaneous lines, forms and colours and Pera’s
      realistic renditions of their heads, suspended in the middle of the
      canvas, encapsulates the sense of trauma caused by separation (her leaving
      the orphanage). The deliberate gesture of uniting her mark with each
      child’s is perhaps the moving desire of every mother for her baby to never
      grow up.
    </p>
  </div>
  <div id="imageWrapper"></div>
</div>

<%= partial "shared/magnifier" %>

<div class="album-credits">
  <p></p>
</div>

<div id="thumbsWrapper">
  <div id="thumbsContainer">
    <img width="80" height="80"
      src="/images/graphics/description-thumbnail.png"
      class="description-thumbnail"
      data-action="show-album-description">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-01.jpg"
      alt="/images/collections/caroline-pera-painted-identity-01.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="01">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-02.jpg"
      alt="/images/collections/caroline-pera-painted-identity-02.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="02">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-03.jpg"
      alt="/images/collections/caroline-pera-painted-identity-03.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="03">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-04.jpg"
      alt="/images/collections/caroline-pera-painted-identity-04.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="04">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-05.jpg"
      alt="/images/collections/caroline-pera-painted-identity-05.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="05">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-06.jpg"
      alt="/images/collections/caroline-pera-painted-identity-06.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="06">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-07.jpg"
      alt="/images/collections/caroline-pera-painted-identity-07.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="07">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-08.jpg"
      alt="/images/collections/caroline-pera-painted-identity-08.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="08">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-09.jpg"
      alt="/images/collections/caroline-pera-painted-identity-09.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="09">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-10.jpg"
      alt="/images/collections/caroline-pera-painted-identity-10.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="10">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-11.jpg"
      alt="/images/collections/caroline-pera-painted-identity-11.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="11">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-12.jpg"
      alt="/images/collections/caroline-pera-painted-identity-12.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="12">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-13.jpg"
      alt="/images/collections/caroline-pera-painted-identity-13.jpg"
      title="100x130 cm<br>Linen canvas with oil paint and pure pigment from Nepal"
      data-action="setup-picture-description"
      data-picture="13">
  </div>
</div>
