---
title: Caroline Pera • Loving a Narcissist
layout: album-page
---

<div class="nav">
  <ul>
    <li class="menu expanded">
      <h4>Projects</h4>
      <ul>
        <li><a href="/painted-identity/" class="current">Painted Identity</a></li>
      </ul>
      <hr>
    </li>
    <li class="menu">
      <h4>Works on Canvas</h4>
      <ul>
        <li><a href="/elevated/">Elevated</a></li>
        <li><a href="/loving-a-narcissist/">Loving a Narcissist</a></li>
      </ul>
      <hr>
    </li>
    <li class="menu">
      <h4>Jewellery</h4>
      <ul>
        <li><a href="/the-spirit-of-water/">The spirit of water</a></li>
        <li><a href="/plumages/">Plumages</a></li>
        <li><a href="/tromp-loeil/">Trompe l'oeil</a></li>
        <li><a href="/primitive-collection/">Primitive Collection</a></li>
        <li><a href="/one-off-pieces/">One-off Pieces</a></li>
      </ul>
      <hr>
    </li>
    <li>
      <h4><a href="/about/">About</a></h4>
    </li>
  </ul>
</div>

<div id="preview">
  <div id="imageWrapper"></div>
</div>

<%= partial "shared/magnifier" %>

<!--<div class="album-credits">
  <p>
    Oil, acrylic, plaster, pastel, oil pastel, thread, wood,
    burn mark on canvas<br>120 x 150 cm
  </p>
</div>-->

<div id="thumbsWrapper">
  <div id="thumbsContainer">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-01.jpg"
      alt="/images/collections/caroline-pera-painted-identity-01.jpg"
      title="">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-02.jpg"
      alt="/images/collections/caroline-pera-painted-identity-02.jpg"
      title="">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-03.jpg"
      alt="/images/collections/caroline-pera-painted-identity-03.jpg"
      title="">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-04.jpg"
      alt="/images/collections/caroline-pera-painted-identity-04.jpg"
      title="">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-05.jpg"
      alt="/images/collections/caroline-pera-painted-identity-05.jpg"
      title="">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-06.jpg"
      alt="/images/collections/caroline-pera-painted-identity-06.jpg"
      title="">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-07.jpg"
      alt="/images/collections/caroline-pera-painted-identity-07.jpg"
      title="">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-08.jpg"
      alt="/images/collections/caroline-pera-painted-identity-08.jpg"
      title="">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-09.jpg"
      alt="/images/collections/caroline-pera-painted-identity-09.jpg"
      title="">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-10.jpg"
      alt="/images/collections/caroline-pera-painted-identity-10.jpg"
      title="">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-11.jpg"
      alt="/images/collections/caroline-pera-painted-identity-11.jpg"
      title="">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-12.jpg"
      alt="/images/collections/caroline-pera-painted-identity-12.jpg"
      title="">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-painted-identity-thumb-13.jpg"
      alt="/images/collections/caroline-pera-painted-identity-13.jpg"
      title="">
  </div>
</div>
