---
title: Caroline Pera
layout: text-page
---

<div class="nav">
  <ul>
    <li class="menu expanded">
      <h4>Projects</h4>
      <ul>
        <li><a href="/painted-identity/">Painted Identity</a></li>
      </ul>
      <hr>
    </li>
  </ul>
</div>

<div class="nav nav-bottom">
  <ul>
    <li class="menu">
      <h4>Works on Canvas</h4>
      <ul>
        <li><a href="/elevated/">Elevated</a></li>
        <li><a href="/loving-a-narcissist/">Loving a Narcissist</a></li>
      </ul>
      <hr>
    </li>
    <li class="menu">
      <h4>Jewellery</h4>
      <ul>
        <li><a href="/the-spirit-of-water/">The spirit of water</a></li>
        <li><a href="/plumages/">Plumages</a></li>
        <li><a href="/tromp-loeil/">Trompe l'oeil</a></li>
        <li><a href="/primitive-collection/">Primitive Collection</a></li>
        <li><a href="/one-off-pieces/">One-off Pieces</a></li>
      </ul>
      <hr>
    </li>
    <li>
      <h4><a href="/about/" class="current">About</a></h4>
    </li>
  </ul>
</div>

<div class="body-text">
  <div class="col">
    <h3>Biography</h3>
    <p>
      French and American artist born and raised in Milan, Italy, 1987.
      Lives and works in London, Soho, after graduating from Central Saint Martins.
    </p>
    <p>
      <em>2016</em><br>
      Solo show, Artifact gallery, New York
    </p>
    <p>
      <em>2015</em><br>
      Solo show, Cinema Arti, Milan
    </p>
    <p>
      <em>2015</em><br>
      Group show, Carte Scoperte gallery, Milan
    </p>
    <p>
      <em>2014</em><br>
      Solo show, Francesco Zanuso gallery, Milan
    </p>
    <p>
      <em>2013</em><br>
      International Art Fair at the historic Palace of Schönborn, Vienna
    </p>
    <p>
      <em>2012</em><br>
      Walkabout Contemporary Art Auction, Village Underground in Shorditch,
      London
    </p>
    <p>
      <em>2012</em><br>
      Group exhibition by The Creative Collective on brick lane
    </p>
    <p>
      <em>2010</em><br>
      Islington Contemporary Art & Design Exhibit
    </p>
    <p>
      <em>2010</em><br>
      Central Saint Martins exhibit.
    </p>
    <p>
      <em>2010</em><br>
      Deutsche Bank Awards Finalist;<br>
      Fostering Creative Enterprises;<br>
      submitted business plan combining sculptural design and wearable art.
    </p>
    <p>
      <em>2009 - 2010</em><br>
      <i>Apprenticiship;</i><br>
      Gem Palace, Official Jeweller of the Maharajah of Jaipur, India;<br>
      Apprenticed in the appraisal, cutting, purchasing of precious gem stones and design.
    </p>
    <p>
      <em>2008</em><br>
      Hoarward Hobbs Award for Jewellery Prospectives;<br>
      Worshipful Company of Tin Platters, Alias, Wire Workers
    </p>
    <p>
      <em>2007</em><br>
      EC1, Exhibit
    </p>
    <p>
      <em>2006</em><br>
      The British Art Medal Society Award
    </p>
  </div>
  <div class="col">
    <h3>Press</h3>
    <ul>
      <li>
        <a href="http://www.thegoodwebguide.co.uk/money-business/talking-business/caroline-pera/15136" target="_blank">The Good Web Guide (Feature)</a>
      </li>
      <li>
        <a href="http://www.fashaddictblog.co.uk/?p=5790" target="_blank">Fashion Addict</a>
      </li>
      <li>
        <a href="http://www.fashionisdead-magazine.com/espaces/photo-lab-y-vm/2357,caroline-pera.html" target="_blank">Fashion is Dead Magazine (Interview)</a>
      </li>
      <li>
        <a href="http://issuu.com/rime-entertainment/docs/rimeshowcase_1" target="_blank">RIME Showcase (Pages 14 and 15)</a>
      </li>
    </ul>
    <h3>Contact</h3>
    <p>
      Email: <a href="mail@carolinepera.com">mail@carolinepera.com</a><br>
      Mobile: (+39) 34 0631 1365
    </p>
  </div>
</div>
