---
title: Caroline Pera
layout: album
---

<div id="title">
  <img src="/images/graphics/logo-large-black.png" alt="Caroline Pera"/>
</div>

<div id="text-bio">
  <p>
    <i>‘My style is an ideal of living and the feeling of being free.
    Inspired by my liberated bohemian heroine muse and the glamorous urban
    adventurer, these collections are for anyone who has ever desired
    freedom from the life they are expected to lead.</i>
  </p>
  <p align="right">
    La joie de vivre girls, la joie de vivre.’
  </p>
  <br>
  <p>T: +44 7896 256 899</p>
  <p>E: <a href="mailto:mail@carolinepera.com"><u>mail@carolinepera.com</u></a></p>
  <br>
  You can view my CV <a href="Files/caroline-pera-cv.pdf" target="_blank"><u>here.</u></a></p>
</div>
