---
title: Caroline Pera • Elevated
layout: album-page
---

<div class="nav">
  <ul>
    <li class="menu">
      <h4>Projects</h4>
      <ul>
        <li><a href="/painted-identity/">Painted Identity</a></li>
      </ul>
      <hr>
    </li>
  </ul>
</div>

<div class="nav nav-bottom">
  <ul>
    <li class="menu expanded">
      <h4>Works on Canvas</h4>
      <ul>
        <li><a href="/elevated/" class="current">Elevated</a></li>
        <li><a href="/loving-a-narcissist/">Loving a Narcissist</a></li>
      </ul>
      <hr>
    </li>
    <li class="menu">
      <h4>Jewellery</h4>
      <ul>
        <li><a href="/the-spirit-of-water/">The spirit of water</a></li>
        <li><a href="/plumages/">Plumages</a></li>
        <li><a href="/tromp-loeil/">Trompe l'oeil</a></li>
        <li><a href="/primitive-collection/">Primitive Collection</a></li>
        <li><a href="/one-off-pieces/">One-off Pieces</a></li>
      </ul>
      <hr>
    </li>
    <li>
      <h4><a href="/about/">About</a></h4>
    </li>
  </ul>
</div>

<div id="preview">
  <div id="imageWrapper"></div>
</div>

<%= partial "shared/magnifier" %>

<div class="album-credits">
  <p>
    <!-- Content will automatically be updated with JavaScript -->
    Oil on canvas, 90 x 120 cm
  </p>
</div>

<div id="thumbsWrapper">
  <div id="thumbsContainer">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-pieces-set-1-thumb-02.jpg"
      alt="/images/collections/caroline-pera-pieces-set-1-02.jpg"
      title="Oil on canvas, 140 x 175 cm">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-pieces-set-1-thumb-01.jpg"
      alt="/images/collections/caroline-pera-pieces-set-1-01.jpg"
      title="Oil on canvas, 90 x 120 cm">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-pieces-set-1-thumb-03.jpg"
      alt="/images/collections/caroline-pera-pieces-set-1-03.jpg"
      title="Oil on canvas, 200 x 240 cm">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-pieces-set-1-thumb-07.jpg"
      alt="/images/collections/caroline-pera-pieces-set-1-07.jpg"
      title="Oil on canvas, 140 x 175 cm">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-pieces-set-1-thumb-04.jpg"
      alt="/images/collections/caroline-pera-pieces-set-1-04.jpg"
      title="Oil on canvas, 140 x 175 cm">
    <img width="80" height="80"
      src="/images/collections/caroline-pera-pieces-set-1-thumb-06.jpg"
      alt="/images/collections/caroline-pera-pieces-set-1-06.jpg"
      title="Oil on canvas, 180 x 225 cm">
  </div>
</div>

