<div class="nav">
  <ul>
    <li><a href="/pieces-set-1/">Collection 1</a></li>
    <li><a href="/pieces-set-2/">Abstract Feelings</a></li>
    <hr>
    <li><a href="/the-spirit-of-water/">The spirit of water</a></li>
    <li><a href="/plumages/">Plumages</a></li>
    <li><a href="/tromp-loeil/">Trompe l'oeil</a></li>
    <li><a href="/primitive-collection/">Primitive Collection</a></li>
    <li><a href="/fur-collection/">Fur Collection</a></li>
    <li><a href="/one-off-pieces/">One-off Pieces</a></li>
  </ul>
  <hr>
  <ul>
    <li><a href="/about/">About</a></li>
  </ul>
</div>
