---
title: Caroline Pera
layout: cover-page
---

<div class="nav">
  <ul>
    <li class="menu expanded">
      <h4>Works on Canvas</h4>
      <ul>
        <li><a href="/elevated/">Elevated</a></li>
        <li><a href="/loving-a-narcissist/">Loving a Narcissist</a></li>
      </ul>
      <hr>
    </li>
    <li class="menu">
      <h4>Jewellery</h4>
      <ul>
        <li><a href="/the-spirit-of-water/">The spirit of water</a></li>
        <li><a href="/plumages/">Plumages</a></li>
        <li><a href="/tromp-loeil/">Trompe l'oeil</a></li>
        <li><a href="/primitive-collection/">Primitive Collection</a></li>
        <li><a href="/one-off-pieces/">One-off Pieces</a></li>
      </ul>
      <hr>
    </li>
    <li>
      <h4><a href="/about/">About</a></h4>
    </li>
  </ul>
</div>

<div class="logo">
  <img src="/images/graphics/logo-large-white.png" alt="Caroline Pera" width="800" height="100">
</div>

<div class="cover-background">
  <img src="/images/landing/caroline-pera-featured-image-a.jpg" alt="Caroline Pera featured project image" width="2500" height="2000">
  <img src="/images/landing/caroline-pera-featured-image-b.jpg" alt="Caroline Pera featured project image" width="2500" height="2000">
  <img src="/images/landing/caroline-pera-featured-image-c.jpg" alt="Caroline Pera featured project image" width="2500" height="2000">
  <img src="/images/landing/caroline-pera-featured-image-d.jpg" alt="Caroline Pera featured project image" width="2500" height="2000">
</div>

<p class="copyright">
  &copy; Caroline Pera 2012 • Website by <a href="http://savantstudio.co.uk/">Savant</a>
</p>

<div class="borders">
  <span class="top"></span>
  <span class="left"></span>
  <span class="bottom"></span>
  <span class="right"></span>
</div>
