---
title: Caroline Pera
layout: cover
---

<div id="title">
  <img src="/images/graphics/logo-large-white.png" alt="Caroline Pera"/>
</div>

<div id="background">
  <img src="/images/landing/caroline-pera-featured-image-a.jpg" alt="Caroline Pera featured project image" width="2500" height="2000">
  <img src="/images/landing/caroline-pera-featured-image-b.jpg" alt="Caroline Pera featured project image" width="2500" height="2000">
  <img src="/images/landing/caroline-pera-featured-image-c.jpg" alt="Caroline Pera featured project image" width="2500" height="2000">
  <img src="/images/landing/caroline-pera-featured-image-d.jpg" alt="Caroline Pera featured project image" width="2500" height="2000">
  <img src="/images/landing/caroline-pera-featured-image-e.jpg" alt="Caroline Pera featured project image" width="2500" height="2000">
</div>

<p class="copyright">
  &copy; Caroline Pera 2012 • Website by <a href="http://savantstudio.co.uk/">Savant</a>
</p>

<div class="borders">
  <span class="top"></span>
  <span class="left"></span>
  <span class="bottom"></span>
  <span class="right"></span>
</div>
